DATABASE_URL=postgresql://DATABASE_USER:DATABASE_PASSWORD@DATABASE_HOST:DATABASE_PORT/DATABASE_NAME
DATABASE_USER=postgres
DATABASE_PASSWORD=your_password_here
DATABASE_NAME=your_db_name_here
DATABASE_HOST=postgres_db
DATABASE_PORT=5432

SECRET_KEY=your_secret_key_here
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=your_expire_time_here
REFRESH_TOKEN_EXPIRE_DAYS=your_expire_time_here
