#Virtual enviroment
venv/
.env
*.env
.env*.local


# Python cache
__pycache__/
*.pyc

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android

#IDEs
.vscode/
.idea/

# Backup / temp files
*.swp
*.swo
*.bak
*.tar

#certificates
nginx/certs/*
!nginx/certs/.gitkeep